<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos estándar de Android -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <!-- Permisos de Health Connect -->
    <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.READ_STEPS"/>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <package android:name="com.google.android.apps.fitness" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kairos">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CrisisAlertActivity"
            android:exported="false"
            android:showOnLockScreen="true" />

        <activity android:name=".ui.GroundingActivity"
            android:exported="false"
            android:showOnLockScreen="true" />

        <activity android:name=".ui.BreathingActivity"
            android:exported="false"
            android:showOnLockScreen="true" />

        <activity android:name=".ui.ProfileActivity" android:exported="false" />

        <activity android:name=".ui.EpisodeLogActivity" android:exported="false" />

        <activity android:name=".ui.ExerciseSettingsActivity" android:exported="false" />

        <!-- OBLIGATORIO para Health Connect: declara qué permisos de salud usa esta app -->
        <activity
            android:name="androidx.health.connect.client.PermissionController"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ContactsActivity" android:exported="false" />

        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity="androidx.health.connect.client.PermissionController">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
                <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.CalibrationActivity"
            android:exported="false"/>

        <service
            android:name="com.example.kairos.mobile.detection.KairosMonitorService"
            android:foregroundServiceType="health"
            android:exported="false"/>

        <service
            android:name=".mobile.KairosPhoneListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data
                    android:host="*"
                    android:pathPrefix="/kairos"
                    android:scheme="wear"/>
            </intent-filter>
        </service>

    </application>

</manifest>